/* CUSTOM PROPS */
:root {
  --midnight-green: #014E56;
  --light-coral: #F67E7E;
  --white: #FFF;
  --rapture-blue: #79C8C7;
  --police-blue: #2C6269;
  --deep-jungle-green: #004047;
  --sacramento-state-green: #012F34;
  --dark-green: #002529;

  --font: 'Livvic', 'Arial', sans-serif;
}


/* FONT-FACE */
@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Bold.woff2') format('woff2'),
    url('../fonts/Livvic-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-Regular.woff2') format('woff2'),
    url('../fonts/Livvic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Livvic';
  src: url('../fonts/Livvic-SemiBold.woff2') format('woff2'),
    url('../fonts/Livvic-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  background-color: var(--white);
  color: var(--white);
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}


/* BUTTONS */
.button {
  display: inline-block;
  padding: 9px 33px 11px;
  border: 2px solid var(--white);
  border-radius: 24px;
  background-color: transparent;
  color: var(--white);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  transition: opacity 0.4s ease,
    color 0.4s ease,
    background-color 0.4s ease,
    border 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 1;
  color: var(--dark-green);
  background-color: var(--white);
  border-color: var(--white);
}

.button--sacramento-state-green {
  color: var(--sacramento-state-green);
  border-color: var(--sacramento-state-green);
}

.button--sacramento-state-green:active {
  color: var(--white);
  border-color: var(--sacramento-state-green);
  background-color: var(--sacramento-state-green);
}

.button--white {
  color: var(--deep-jungle-green);
  border-color: var(--white);
  background-color: var(--white);
}

.button--white:active {
  opacity: 0.6;
}


/* SITE-HEADER */
.header {
  padding-top: 73px;
  padding-bottom: 250px;
  background-color: var(--midnight-green);
  background-image: url(../img/header-left-bg.png), url(../img/header-bottom-rectangle.png), url(../img/header-bottom-half-moon.png), url(../img/header-bottom-circle.png), url(../img/header-rectangle.png), url(../img/header-bottom-circle-background.png);
  background-repeat: no-repeat;
  background-position: left calc(50% - 718px) top 250px, right calc(50% - 247px) bottom 56px, right calc(50% - 431px) bottom, right calc(50% - 296px) bottom, right calc(50% - 534px) bottom 57px, right calc(50% - 457px) bottom;
}

.header__top {
  display: flex;
  align-items: center;
  margin-bottom: 129px;
}

.header__logo {
  display: flex;
  margin-right: 80px;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  color: var(--white);
  font-family: var(--font);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  display: inline-block;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  opacity: 0.8;
}

.sitenav__link:active {
  color: var(--light-coral);
  opacity: 1;
}

.header__bottom {
  display: flex;
  align-items: flex-start;
}

.header__heading {
  flex-shrink: 0;
  width: 100%;
  max-width: 635px;
  margin: 0;
  margin-right: 30px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}

.header__heading span {
  color: var(--light-coral);
}

.header__info {
  flex-grow: 1;
}

.header__small-line {
  margin: 0;
  margin-bottom: 79px;
  width: 50px;
  height: 4px;
  border: 0;
  background-color: var(--rapture-blue);
}

.header__text {
  font-size: 18px;
  line-height: 28px;
}


/* SITE-HERO */
.hero {
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--sacramento-state-green);
  background-image: url(../img/header-bottom-rectangle.png), url(../img/hero-bg-circle.png);
  background-repeat: no-repeat;
  background-position: right calc(50% - 710px) bottom 56px, right calc(50% - 710px) bottom;
}

.hero__bg--rectangle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--police-blue);
  bottom: 100px;
  right: calc(50% - 760px);
  opacity: 0.8;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__left {
  flex-shrink: 0;
  flex-grow: 1;
  margin-right: 125px;
}

.hero__line {
  margin: 0;
  border: 0;
  margin-bottom: 54px;
  width: 50px;
  height: 4px;
  background-color: var(--light-coral);
}

.hero__heading {
  width: 100%;
  max-width: 445px;
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.hero__list {
  padding: 0;
  margin: 0;
  padding-top: 58px;
  list-style: none;
}

.hero__item {
  display: flex;
  align-items: flex-start;
}

.hero__item:not(last-child) {
  margin-bottom: 32px;
}

.hero__img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  margin-right: 23px;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--light-coral);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}

.hero__description {
  margin: 0;
}


/* SITE-STORIES */
.stories {
  position: relative;
  z-index: 999;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--deep-jungle-green);
  background-image: url(../img/header-bottom-rectangle.png), url(../img/Rectangle.jpg), url(../img/header-bottom-rectangle.png), url(../img/header-bottom-circle-background.png), url(../img/Rectangle-light.jpg), url(../img/icon-quotes.png), url(../img/icon-quotes.png), url(../img/icon-quotes.png);
  background-repeat: no-repeat;
  background-position: left calc(50% - 662px) top 56px, left calc(50% - 710px) top, right calc(50% - 709px) bottom, right calc(50% - 661px) bottom, right calc(50% - 709px) bottom, right calc(50% - -382px) top calc(50% - 58px), right calc(50% - -2px) top calc(50% - 58px), right calc(50% - 379px) top calc(50% - 58px);
}

.stories__heading {
  width: 100%;
  max-width: 932px;
  margin-top: 0;
  margin-bottom: 92px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.stories__heading span {
  color: var(--rapture-blue);
}

.stories__list {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

.stories__item {
  text-align: center;
}

.stories__item:not(:last-child) {
  margin-right: 30px;
}

.stories__text {
  margin-top: 0;
  margin-bottom: 24px;
}

.stories__name {
  margin-top: 0;
  margin-bottom: 2px;
  color: var(--rapture-blue);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.stories__subtitle {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 13px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
}

.stories__img {
  border-radius: 50%;
}


/* SITE-REGISTRATION-LINK */
.reg-link {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--light-coral);
  background-image: url(../img/hero-bg-rectangles.png), url(../img/reg-ling-bg-line.png), url(../img/reg-ling-half-circle.png), url(../img/Rectangle-light.jpg);
  background-repeat: no-repeat;
  background-position: left calc(50% - 732px) top 56px, left calc(50% - 709px) bottom, left calc(50% - 661px) bottom, left calc(50% - 710px) bottom;
}

.reg-lin__container {
  width: 100%;
  max-width: 917px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.reg-link__heading {
  margin: 0;
  color: var(--sacramento-state-green);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}


/* SITE-FOOTER */
.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--dark-green);
}

.footer__container {
  display: flex;
  align-items: flex-start;
}

.footer__left {
  display: flex;
  margin-right: auto;
}

.footer__logo {
  display: flex;
  margin-bottom: 25px;
}

.footer__logo-info-wrapper {
  margin-right: 125px;
}

.footer__site-info {
  margin: 0;
  opacity: 0.6;
}

.socials {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 51px;
}

.socials__item:not(:last-child) {
  margin-right: 16px;
}

.socials__link {
  display: flex;
  color: var(--white);
  transition: opacity 0.4s ease,
    color 0.4s ease;
}

.socials__link:hover {
  opacity: 0.8;
}

.socials__link:active {
  opacity: 1;
  color: var(--light-coral);
}

.site-copyright {
  opacity: 0.6;
  margin: 0;
}


/* SITE-ABOUT-PAGE */
.about-header {
  padding-top: 73px;
  padding-bottom: 120px;
  background-color: var(--midnight-green);
  background-image: url(../img/about-header-page-bg.png);
  background-repeat: no-repeat;
  background-position: right calc(50% - 730px) bottom;
}

.about-header__heading {
  flex-shrink: 0;
  width: 100%;
  max-width: 350px;
  margin: 0;
  margin-right: 30px;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
}

.about-header__line {
  border: 0;
  margin: 0;
  width: 50px;
  height: 4px;
  flex-shrink: 0;
  background-color: var(--light-coral);
  margin-bottom: 40px;
}

.about-header__text {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}



/* RETINA BG */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .header {
    background-image: url(../img/header-left-bg@2x.png), url(../img/header-bottom-rectangle@2x.png), url(../img/header-bottom-half-moon@2x.png), url(../img/header-bottom-circle@2x.png), url(../img/header-rectangle@2x.png), url(../img/header-bottom-circle-background@2x.png);
  }

  .stories {
    background-image: url(../img/header-bottom-rectangle@2x.png), url(../img/Rectangle@2x.jpg),
      url(../img/header-bottom-rectangle@2x.png),
      url(../img/header-bottom-circle-background@2x.png),
      url(../img/Rectangle-light@2x.jpg),
      url(../img/icon-quotes@2x.png),
      url(../img/icon-quotes@2x.png),
      url(../img/icon-quotes@2x.png);
  }

  .reg-link {
    background-image: url(../img/hero-bg-rectangles@2x.png), url(../img/reg-ling-bg-line@2x.png), url(../img/reg-ling-half-circle@2x.png), url(../img/Rectangle-light@2x.jpg);
  }

  .about-header {
    background-image: url(../img/about-header-page-bg@2x.png);
  }
}